<%- include('../partials/header.ejs') %>
<%- include('./adminNav.ejs') %>
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
            <strong>Admin in Control from here!</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="container">
        <div class="row">
            <%- include('./adminCard') %>

        </div>
    </div>
<%- include('../partials/end.ejs') %>