<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="row">
            <%- include('./partials/card') %>

        </div>
    </div>


<%- include('./partials/end.ejs') %>
